<div class="custom__top__titleBox">
<h3 class="custom__top__caption">
   {{ subtitle }}
</h3>
<h2 class="custom__top__title">{{ title }}</h2>
</div>

<style>
    .custom__top__titleBox {
text-align: center;
    }
    .custom__top__caption {
        display: inline-block;
        color: #1D1F2E;
font-family: Noto Sans JP;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.2px;
padding: 3px 18px 5px;
border-radius: 100px;
background: #F9EB00;
    }
    .custom__top__title {
font-family: Noto Sans JP;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 4px;
color: #fff;
    }

    @media screen and (max-width:768px) { 
        .custom__top__caption {
            color: #1D1F2E;
font-family: Noto Sans JP;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
margin-bottom: 5px;
    }
    .custom__top__title {
        color: #FFF;
font-family: Noto Sans JP;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.8px;
    }
}
</style>